langchain_google_genai
dataclasses
typing
tree_sitter<0.25
tree_sitter_java<0.24
networkx
ipykernel
matplotlib
jinja2
aiofiles
langchain_google_vertexai
scikit-learn
torch
transformers
scikit-learn
javalang
black
isort
pathlib
pandas